body {
    background-image: url("https://cdn.pixabay.com/photo/2016/01/06/22/16/animal-1125102_960_720.jpg");
    background-size: contain;
    background-attachment: fixed;
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
    color: white;
}

header {
    text-align: center;
}

section {
    color: black;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
}

footer {
    text-align: center;
    font-style: italic;
}